#resource_registry:
parameter_defaults:
  ContainerOvnNbDbImage: rhos-qe-mirror-tlv.usersys.redhat.com:5002/rh-osbs/rhosp17-openstack-ovn-nb-db-server:17.1_20250611.1
  ContainerOvnSbDbImage: rhos-qe-mirror-tlv.usersys.redhat.com:5002/rh-osbs/rhosp17-openstack-ovn-sb-db-server:17.1_20250611.1
  ContainerOvnNorthdImage: rhos-qe-mirror-tlv.usersys.redhat.com:5002/rh-osbs/rhosp17-openstack-ovn-northd:17.1_20250611.1
  ContainerOvnDbsImage: rhos-qe-mirror-tlv.usersys.redhat.com:5002/rh-osbs/rhosp17-openstack-ovn-northd:17.1_20250611.1
  ContainerOvnDbsConfigImage: rhos-qe-mirror-tlv.usersys.redhat.com:5002/rh-osbs/rhosp17-openstack-ovn-northd:17.1_20250611.1
  ContainerOvnControllerImage: rhos-qe-mirror-tlv.usersys.redhat.com:5002/rh-osbs/rhosp17-openstack-ovn-controller:17.1_20250611.1
  ContainerOvnControllerConfigImage: rhos-qe-mirror-tlv.usersys.redhat.com:5002/rh-osbs/rhosp17-openstack-ovn-controller:17.1_20250611.1
